
*{
    margin: 0px;
    padding: 0px;
        
}



/* media is used to make webpage responsive */

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

#smallcontainer{
    font-weight: bolder;
    font-size: 40PX;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    border: solid 1px black;
    background: linear-gradient(to left, blue, red);
    width: 80%;
    text-align: center;
    border-radius: 50px;

}

input{
    border-radius: 20px;

}


button {
    width: 150px;
    padding: 20px;
    background: tomato;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50px;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background: linear-gradient(to right, yellow, lightgreen);
    margin: 20px;   

    
}

.container {
    
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgb(65, 59, 65);
    border-radius: 20px;
    padding: 5px;
    
    
}

.smallbox {
    min-width: 30vw;
    border: solid 20px black;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: aquamarine;
    width: 40%;
    border-radius: 100px;

    
}


/* FOR IMAGE ELEMENT STYLING */
img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 2px black;
}
